/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Primary colors */
/* Cyberpunk theme*/
/* Cyberpunk Background */
/* Theme color */
/* Error connect */
/* Valid connect */
/* Acceuil */
* {
  font-family: "DotGothic16", sans-serif;
}

body {
  font-family: "DotGothic16", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  height: 100vh;
  width: 100%;
  position: initial;
  -o-object-fit: cover;
     object-fit: cover;
}

.box {
  position: absolute;
  width: 18.7rem;
  height: 10.75rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

p {
  position: absolute;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #a70065;
  text-shadow: 0 0 10px #d80094, 0 0 20px #d80094, 0 0 40px #d80094, 0 0 80px #d80094, 0 0 120px #d80094;
}

.lightbar {
  position: relative;
  top: 0%;
  left: 0%;
  z-index: 10;
  width: 10px;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px #d80094, 0 0 20px #d80094, 0 0 40px #d80094, 0 0 80px #d80094, 0 0 120px #d80094;
  -webkit-animation: animatelightbar 3s linear infinite;
          animation: animatelightbar 3s linear infinite;
}

@-webkit-keyframes animatelightbar {
  0%, 5% {
    transform: scaleY(0) translateX(0);
  }
  10% {
    transform: scaleY(1) translateX(0);
  }
  90% {
    transform: scaleY(1) translateX(calc(18.7rem - 10px));
  }
  95%, 100% {
    transform: scaleY(0) translateX(calc(18.7rem - 10px));
  }
}

@keyframes animatelightbar {
  0%, 5% {
    transform: scaleY(0) translateX(0);
  }
  10% {
    transform: scaleY(1) translateX(0);
  }
  90% {
    transform: scaleY(1) translateX(calc(18.7rem - 10px));
  }
  95%, 100% {
    transform: scaleY(0) translateX(calc(18.7rem - 10px));
  }
}
.topLayer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  -webkit-animation: animatetopLayer 6s linear infinite;
          animation: animatetopLayer 6s linear infinite;
}

@-webkit-keyframes animatetopLayer {
  0%, 2.5% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(100%);
  }
  47.5%, 50% {
    transform: translateX(100%);
  }
  50.001%, 52.5% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-100%);
  }
  95% {
    transform: translateX(0%);
  }
  97.5%, 100% {
    transform: translateX(0%);
  }
}

@keyframes animatetopLayer {
  0%, 2.5% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(100%);
  }
  47.5%, 50% {
    transform: translateX(100%);
  }
  50.001%, 52.5% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-100%);
  }
  95% {
    transform: translateX(0%);
  }
  97.5%, 100% {
    transform: translateX(0%);
  }
}/*# sourceMappingURL=logout.css.map */