/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Primary colors */
/* Cyberpunk theme*/
/* Cyberpunk Background */
/* Theme color */
/* Error connect */
/* Valid connect */
/* Acceuil */
* {
  font-family: "DotGothic16", sans-serif;
}

body {
  font-family: "DotGothic16", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

video {
  height: 100vh;
  width: 100%;
  position: initial;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  position: absolute;
  top: 0;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  font-size: 1rem;
  font-family: "DotGothic16", sans-serif;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 14vh;
  display: flex;
  align-items: center;
}

.logo {
  height: 14vh;
}

.logout {
  height: 10vh;
  cursor: pointer;
}

ul {
  display: contents;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.portal-a {
  font-weight: bold;
  color: #f3007b;
  letter-spacing: 4px;
  border-bottom-color: #f62f36;
  padding: 8px;
}
.portal-a:hover {
  color: #03a9f4;
  background: linear-gradient(to bottom, rgba(246, 47, 54, 0) 66%, rgba(246, 47, 54, 0.35) 100%);
}

section {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 72vh;
  margin-top: 6rem;
}

.card-information {
  text-align: center;
  max-height: 29.5rem;
  max-width: 35rem;
  padding: 40px;
  box-sizing: border-box;
  background: #000000cc;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

span {
  color: #f3007b;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  color: wheat;
}

b {
  color: aliceblue;
  font-size: 0.9rem;
}

.card-edit {
  width: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 37rem;
  padding: 40px;
  box-sizing: border-box;
  background: #000000cc;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

form {
  font-family: "DotGothic16", sans-serif;
  text-align: center;
  transition: 0.5s;
}

.class-edit .inputBox {
  position: relative;
  outline: none;
  background: transparent;
}

.card-edit .inputBox input {
  width: 11rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-size: 0.9rem;
  color: #00e2ff;
  border-bottom: 1.5px solid #fff;
  outline: none;
  background: transparent;
  text-align: center;
}

.card-edit .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: bold;
  pointer-events: none;
  transition: 0.5s;
  text-align: center;
}

.card-edit .inputBox input:focus ~ label,
.card-edit .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  font-size: 0.9rem;
  font-weight: bold;
  outline: transparent;
  background: transparent;
}

.card-edit input::-moz-placeholder {
  color: aliceblue;
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-align: center;
}

.card-edit input:-ms-input-placeholder {
  color: aliceblue;
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-align: center;
}

.card-edit input::placeholder {
  color: aliceblue;
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-align: center;
}
.card-edit input::-moz-placeholder:hover {
  background: linear-gradient(to bottom, rgba(246, 47, 54, 0) 66%, rgba(246, 47, 54, 0.35) 100%);
}
.card-edit input:-ms-input-placeholder:hover {
  background: linear-gradient(to bottom, rgba(246, 47, 54, 0) 66%, rgba(246, 47, 54, 0.35) 100%);
}
.card-edit input::placeholder:hover {
  background: linear-gradient(to bottom, rgba(246, 47, 54, 0) 66%, rgba(246, 47, 54, 0.35) 100%);
}

hr {
  margin: 33px 0 21px 0;
}

.cadre_edit {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #10ff00;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  background: transparent;
}
.cadre_edit:focus {
  outline: none;
}

.cadre_edit span {
  position: absolute;
  display: block;
  background: #10ff00;
  z-index: 30;
}

.cadre_edit span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #10ff00);
  -webkit-animation: animate_edit1 1s linear infinite;
          animation: animate_edit1 1s linear infinite;
}

@-webkit-keyframes animate_edit1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes animate_edit1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.cadre_edit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #10ff00);
  -webkit-animation: animate_edit2 2s linear infinite;
          animation: animate_edit2 2s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes animate_edit2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes animate_edit2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.cadre_edit span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #10ff00);
  -webkit-animation: animate_edit3 1s linear infinite;
          animation: animate_edit3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes animate_edit3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes animate_edit3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.cadre_edit span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #10ff00);
  -webkit-animation: animate_edit4 1s linear infinite;
          animation: animate_edit4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes animate_edit4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@keyframes animate_edit4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  color: #10ff00;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  background: transparent;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
button:focus {
  outline: none;
}
button:hover {
  background: #10ff00;
  color: #050801;
  box-shadow: 0 0 5px #10ff00, 0 0 25px #10ff00, 0 0 50px #10ff00, 0 0 200px #10ff00;
}

button span {
  position: absolute;
  display: block;
}

button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #10ff00);
  -webkit-animation: animate1 1s linear infinite;
          animation: animate1 1s linear infinite;
}

@-webkit-keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #10ff00);
  -webkit-animation: animate2 2s linear infinite;
          animation: animate2 2s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #10ff00);
  -webkit-animation: animate3 1s linear infinite;
          animation: animate3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #10ff00);
  -webkit-animation: animate4 1s linear infinite;
          animation: animate4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}/*# sourceMappingURL=profile.css.map */