@import '../_reset.scss';
@import '../_variables.scss';

* {
  // font-family: 'Roboto Condensed', sans-serif;
  font-family: 'DotGothic16', sans-serif;
}

body {
  // background-color: rgb(168, 135, 135);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

section {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #111;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

section .row {
  position: relative;
  top: -60%;
  width: 100%;
  display: flex;
  padding: 10px 0;
  white-space: nowrap;
  font-size: 4rem;
  transform: rotate(-30deg);
}

i {
  color: rgba(0, 0, 0, 0.5);
  transition: 1s;
  padding: 0 5px;
  user-select: none;
  cursor: default;
}

i:hover {
  transition: 0s;
  color: $orange;
  text-shadow: 0 0 7.5rem $orange;
}

section .row div {
  animation: animate1 80s linear infinite;
  animation-delay: -80s;
}

section .row div:nth-child(2) {
  animation: animate2 80s linear infinite;
  animation-delay: -40s;
}

@keyframes animate1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

section .row:nth-child(even) div {
  animation: animate3 80s linear infinite;
  animation-delay: -80s;
}

section .row:nth-child(even) div:nth-child(2) {
  animation: animate4 80s linear infinite;
  animation-delay: -40s;
}

@keyframes animate3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animate4 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

//FORM

.box {
  position: absolute;
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 8);
  box-sizing: border-box;
  box-shadow: 20px 15px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

// .box:hover .form {
//   transform: translateY(0px);
//   opacity: 1;
// }

form {
  text-align: center;
  // transform: translateY(100px);
  // opacity: 0;
  transition: 0.5s;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 0.9rem;
  color: #fff;

  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 1.1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: $orange;
  font-size: 1rem;
}

.box button[type='submit'] {
  background: transparent;
  border: none;
  outline: none;
  color: $wheat;
  background: $orange;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: $wheat;
  cursor: pointer;
}
