@import '../reset';
@import '../variables';

* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  // position: sticky;
  // z-index: 0;
  background-image: url(../../images/pixelday2021-sorapoi-size.png);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-evenly;
  height: 15vh;
  display: flex;
  align-items: center;
}

ul {
  display: contents;
}

a {
  text-decoration: none;
  color: $yellow_theme;
  &:hover {
    color: white;
  }
}

form {
  text-align: center;
  margin-left: 4rem;
}

input {
  text-align: center;
  margin-bottom: 2rem;
  color: chocolate;
  font-size: 1rem;
  font-weight: bold;
  font: status-bar;
  background-color: #222;
  border-radius: 1rem;
  &:focus {
    outline: none;
  }
}

main {
  // position: fixed;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 17rem;
  height: 81.5vh;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 2rem;
  &:nth-child(odd) {
    background: $black;
    color: $orange_theme;
  }
  &:nth-child(even) {
    background: $fushia;
    color: $wheat;
  }
}

.game {
  width: 17rem;
  height: 22rem;
  border-radius: 10px;
}

.game_name {
  width: 17rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: $yellow_theme;
}
.game_description {
  width: 17rem;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 17rem;
  // position: absolute;
  // bottom: 14%;
}

hr:after {
  background: #000;
  //   content: '§';
  content: 'Bear Gaming';
  color: $orange;
  padding: 0 4px;
  position: relative;
  top: -9px;
  border-radius: 5px;
}
