/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Primary colors */
/* Theme color */
/* Error connect */
/* Valid connect */
/* Acceuil */
* {
  font-family: "DotGothic16", sans-serif;
}

body {
  background-image: url(../../images/pixelday2021-sorapoi-size.png);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

header {
  font-size: 1rem;
  font-family: "DotGothic16", sans-serif;
  display: flex;
  justify-content: space-evenly;
  height: 15vh;
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  left: 2%;
  height: 19vh;
}

.logout {
  height: 12vh;
}

ul {
  display: contents;
}

a {
  text-decoration: none;
  color: #ffc600;
  letter-spacing: 4px;
}
a:hover {
  color: white;
}

input {
  font-family: "DotGothic16", sans-serif;
  text-align: center;
  margin-bottom: 2rem;
  color: chocolate;
  font-size: 0.8rem;
  font-weight: bold;
  font: status-bar;
  background-color: #222;
  border-radius: 1rem;
}
input:focus {
  outline: none;
}

input[type=text] {
  font-size: 0.8rem;
  font-family: "DotGothic16", sans-serif;
}

input[type=submit] {
  font-size: 0.8rem;
  font-family: "DotGothic16", sans-serif;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 17rem;
  height: 81.5vh;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 2rem;
  color: #f5deb3;
}
.card .card_search {
  margin-right: 2rem;
}
.card:nth-child(odd) {
  background: #22222282;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.card:nth-child(even) {
  background: #e91e6340;
  color: #e55516;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  color: #f5deb3;
}

.game {
  width: 17rem;
  height: 22rem;
  border-radius: 10px;
}

.game_name {
  width: 17rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffc600;
}

.game_description {
  font-size: 0.8rem;
  font-family: "DotGothic16", sans-serif;
  width: 17rem;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 17rem;
  position: absolute;
  bottom: 1%;
}

hr:after {
  background: #000;
  content: "Bear Gaming";
  color: #ff4800;
  padding: 0 4px;
  position: relative;
  top: -9px;
  border-radius: 5px;
}/*# sourceMappingURL=portal.css.map */