@import '../reset';
@import '../variables';

* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  position: fixed;
  z-index: 0;
  background-image: url(../../images/pixelday2021-sorapoi-size.png);
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 17rem;
  //   height: 33rem;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.game {
  width: 17rem;
  height: 22rem;
  border-radius: 10px;
}

.game_name {
  width: 17rem;
  text-align: center;
}
.game_description {
  width: 17rem;
  color: $chocalate;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 17rem;
}

hr:after {
  background: #fff;
  //   content: '§';
  content: 'Bear Gaming';
  color: $orange;
  padding: 0 4px;
  position: relative;
  top: -13px;
}
