@import '../reset';
@import '../variables';

* {
  // font-family: 'Roboto Condensed', sans-serif;
  font-family: 'DotGothic16', sans-serif;
}

body {
  background-image: url(../../images/pixelday2021-sorapoi-size.png);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

header {
  font-size: 1rem;
  font-family: 'DotGothic16', sans-serif;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
}

.logo {
  // position: absolute;
  // left: 2%;
  height: 15vh;
}

.logout {
  height: 11vh;
  cursor: pointer;
}

ul {
  display: contents;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.portal-a {
  font-weight: bold;
  color: $pink;
  letter-spacing: 4px;
  border-bottom-color: #f62f36;
  padding: 8px;
  &:hover {
    color: $blue;
    background: linear-gradient(
      to bottom,
      rgba(246, 47, 54, 0) 66%,
      rgba(246, 47, 54, 0.35) 100%
    );
  }
}

form {
  // text-align: center;
  // display: inline-block;
}

input {
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  margin-bottom: 2rem;
  color: chocolate;
  font-size: 0.8rem;
  font-weight: bold;
  font: status-bar;
  background-color: #222;
  border-radius: 1rem;
  &:focus {
    outline: none;
  }
}

input[type='text'] {
  font-size: 0.8rem;
  font-family: 'DotGothic16', sans-serif;
}
input[type='submit'] {
  font-size: 0.8rem;
  font-family: 'DotGothic16', sans-serif;
  cursor: pointer;
  // content: '\f002';
}

main {
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 17rem;
  height: 35rem;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 2rem;
  color: $wheat;

  &:nth-child(odd) {
    background: #22222282;
    backdrop-filter: blur(2px);
    // box-shadow: 0 10px 25px rgb(233 30 99 / 60%);
    // box-shadow: 0 10px 25px #03a9f4;
  }
  &:nth-child(even) {
    background: #e91e6340;
    color: #e55516;
    backdrop-filter: blur(2px);
    color: $wheat;
    // box-shadow: 0 10px 25px #ff9800;
  }
}

.game {
  width: 17rem;
  height: 22rem;
  border-radius: 10px;
}

.game_name {
  width: 17rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: $yellow_theme;
}
.game_description {
  font-size: 0.8rem;
  font-family: 'DotGothic16', sans-serif;
  width: 17rem;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 17rem;
  position: absolute;
  bottom: 1%;
}

hr:after {
  background: #000;
  //   content: '§';
  content: 'Bear Gaming';
  color: $orange;
  padding: 0 4px;
  position: relative;
  top: -9px;
  border-radius: 5px;
}
