// @import './reset';
@import './variables';

* {
  // font-family: 'Roboto Condensed', sans-serif;
  font-family: 'DotGothic16', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  //   position: relative;
  font-family: 'DotGothic16', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: sticky;
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  left: 2%;
  height: 19vh;
}

//-------------------------------------------------------
// PARALLAX EFFECT

html,
body {
  background-color: #fedcc8;
  // background-color: #000;
}

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    display: block;
    position: absolute;
    bottom: 0;
  }
}

.parallax__cover {
  background: #2d112b;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  // height: 125rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

$parallax__layers: 6;

@for $i from 0 through $parallax__layers {
  $x: ($parallax__layers - $i) / 2;
  .parallax__layer__#{$i} {
    transform: translateZ(-100px * $x) scale($x + 1);
  }
}

//--------------------------------------------------------
// SECTION

section {
  position: relative;
  width: 100%;
  height: 110vh;
  /* bottom: 25%; */
  left: 19%;
  background: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#image-head.image-head {
  position: absolute;
  // width: 90vw;
  width: 93vw;
  height: 80vh;
  top: 25%;
  // top: 10%;
  // left: 50%;
  background: no-repeat;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.about-us {
  position: absolute;
  // width: 27rem;
  // right: 26%;
  width: 35rem;
  right: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #ffa500;
  letter-spacing: 5px;
  /* width: 40rem; */
  font-size: 1.3rem;
  text-align: center;
}

.about_description {
  letter-spacing: 1px;
  padding-left: 8px;
  color: $wheat;
}

//SOCIAL NETWORK

.footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  bottom: -106%;
  right: 22%;
  width: 28rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.footer__social-networks a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-left: 1rem;
  transition: all 200ms ease-out;
}

.footer__social-networks a:hover {
  transform: scale(1.25);
}

.footer__social-networks a:nth-child(1):hover {
  // background-color: #193c7e;
  // border-color: #193c7e;
  background-color: #06090f;
  border-color: #06090f;
}

.footer__social-networks a:nth-child(2):hover {
  // background-color: #339ecc;
  // border-color: #339ecc;
  background-color: #ea4c7b;
  border-color: #ea4c7b;
}

.footer__social-networks a:nth-child(3):hover {
  background-color: #339ecc;
  border-color: #339ecc;
}

.footer__social-networks a:nth-child(4):hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

// BUTTON RAINBOW
.body_button {
  display: grid;
  height: 100%;
  place-items: center;
  // background: burlywood;
}

.rainbow-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.outer {
  position: relative;
  margin: 0 50px;
  background: #111;
}

.button {
  // height: 70px;
  // width: 220px;
  height: 48px;
  width: 208px;
  border-radius: 50px;
}

.outer .rainbow-button,
.outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer .rainbow-button {
  background: #111;
  color: #f2f2f2;
  outline: none;
  border: none;
  font-size: 20px;
  z-index: 9;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.button .rainbow-button {
  // height: 60px;
  // width: 210px;
  color: $orange;
  height: 38px;
  width: 198px;
  border-radius: 50px;
}

.outer span {
  height: 100%;
  width: 100%;
  background: inherit;
}

.button span {
  border-radius: 50px;
}

.outer:hover span:nth-child(1) {
  filter: blur(7px);
}

.outer:hover span:nth-child(2) {
  filter: blur(14px);
}

.outer:hover {
  background: linear-gradient(#00faff, #ff6600, #ff00e0);

  // background: radial-gradient(
  //   circle farthest-corner at left center,
  //   #00faff 10%,
  //   #f48e00 25%,
  //   #ffff00 35%,
  //   #ffff00 55%,
  //   #6100ff 55%,
  //   #ffff00 55%,
  //   #ff00e0 100%
  // );

  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@media (max-width: 640px) {
  .center {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .outer {
    margin: 50px 0px;
  }
}

//--------------------------------------------------------
// NEON EFFECT

.box {
  position: relative;
  width: 26rem;
  height: 6.75rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.neon {
  position: absolute;
  // z-index: 10;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: $fushia;
  text-shadow: 0 0 10px #d80094, 0 0 20px #d80094, 0 0 40px #d80094,
    0 0 80px #d80094, 0 0 120px #d80094;
}

.lightbar {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 10;
  width: 7px;

  height: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px #d80094, 0 0 20px #d80094, 0 0 40px #d80094,
    0 0 80px #d80094, 0 0 120px #d80094;
  animation: animatelightbar 3s linear infinite;
}

@keyframes animatelightbar {
  0%,
  5% {
    transform: scaleY(0) translateX(0);
  }
  10% {
    transform: scaleY(1) translateX(0);
  }
  90% {
    transform: scaleY(1) translateX(calc(26rem - 10px));
  }
  95%,
  100% {
    transform: scaleY(0) translateX(calc(26rem - 10px));
  }
}

.topLayer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: #fedcc8;
  // mix-blend-mode: screen;
  // backdrop-filter: blur(8px);
  animation: animatetopLayer 6s linear infinite;
}

@keyframes animatetopLayer {
  0%,
  2.5% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(100%);
  }
  47.5%,
  50% {
    transform: translateX(100%);
  }
  50.001%,
  52.5% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-100%);
  }
  95% {
    transform: translateX(0%);
  }
  97.5%,
  100% {
    transform: translateX(0%);
  }
}
